body {
    background-color: #1e1e2e !important; /* dark purple background */
    color: #cdd6f4; /* light blue text color */
    font-family: Arial, sans-serif; /* default font */
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

nav {
    background-color: #2c2c3e; /* slightly darker than background */
    border-radius: 25px; /* rounded corners */
    display: flex; /* display elements as a flex container */
    align-items: center; /* center the elements vertically */
    justify-content: space-between; /* distribute elements evenly across the width of the navbar */
    padding: 10px 20px; /* add some padding for the elements */
}

nav a {
    color: #cdd6f4; /* light blue text color */
    text-decoration: none; /* remove underline from text */
    font-weight: bold; /* bold text */
}

nav span {
    color: #cdd6f4; /* light blue text color */
    margin: 0 10px; /* add some margin to separate the text from the other elements */
}

/* search bar */
input[type='search'] {
    border: 2px solid #2c2c3e;
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    font-size: 1.2rem;
    outline: none;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #1e1e2e;
    color: #cdd6f4;
    left: 50%;
    transform: translate(-50%, -50%);

}


input[type='search']:focus {
    border-color: #cdd6f4; /* light blue text color */
    box-shadow: 0 0 5px #cdd6f4; /* add a light blue shadow on focus */
}

.pagncont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    background-color: #2c2c3e;
    position: fixed;
    bottom: 0;
    /* Don't remove for some reason this makes it work! */
    right:1px;
    width: 100%;
    height: 5rem;
}
.footer a {
    text-align: center;
    color: #585b70;
    transition: 0.4s all;
    text-decoration: none;
    /* thanks susa for allowing me to remove the shadow!!! */
}
.footer a:hover {
    transition: 0.4s all;
    color: #cdd6f4;
    text-shadow: 0px 0px 0px #cdd6f4;
}

#results {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    height: 80%;
}
#PostContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#PostContainer img {
    max-width: 1000px;
    max-height: 700px;
}

.footer-res {
    background-color: #2c2c3e;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    /* Don't remove for some reason this makes it work! */
    right:1px;
    width: 100%;
    height: 5rem;
}
.footer-res a {
    text-align: center;
    color: #585b70;
    transition: 0.4s all;
    text-decoration: none;
    /* thanks susa for allowing me to remove the shadow!!! */
}
.footer-res a:hover {
    transition: 0.4s all;
    color: #cdd6f4;
    text-shadow: 0px 0px 0px #cdd6f4;
}